# Dependencies
node_modules

# Build output
dist

# Vite
.vite

# Test
coverage

# Environment
.env
.env.local
.env.development
.env.production

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
*.swp
